/**
 * 传入播放量，将其转化为41.5万的形式
 * @param count 播放量
 */
function formatPlayCount(count) {
  if (count >= 100000000) {
    return (count / 100000000).toFixed(1) + "亿";
  } else if (count >= 10000) {
    return (count / 10000).toFixed(1) + "万";
  } else {
    return count;
  }
}

/**
 * 传入毫秒，将其转化为01:35的形式
 * @param time 时间
 */
function padleft(time) {
  return (time + "").length >= 2 ? time : "0" + time;
}
function formatVideoTime(time) {
  time = time / 1000;

  var minute = Math.floor(time / 60);
  var second = Math.floor(time) % 60;

  return padleft(minute) + ":" + padleft(second);
}

module.exports = {
  formatPlayCount: formatPlayCount,
  formatVideoTime: formatVideoTime,
};
