:root {
  --primary-color: #ff9854;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
}

body {
  font-size: 14px;
}

.hide-tabbar {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;

  overflow-y: auto;
}

.icon_check {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/detail/icon_check.png) 0 0 / 100% 100%;
}
